RewriteEngine On
RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^index\.php$ - [L]

#https://stackoverflow.com/a/20469045
RewriteRule ^([a-z0-9_-]+)/([a-z0-9_-]+)$ index.php?call_category=$1&call_request=$2

#https://stackoverflow.com/a/20469045
RewriteRule ^([a-z0-9_-]+)/([a-z0-9_-]+)/([0-9]+)$ index.php?call_category=$1&call_request=$2&id=$3

#https://stackoverflow.com/a/20469045
RewriteRule ^api api.php

#https://stackoverflow.com/a/20469045
RewriteRule ^api/([a-z0-9_-]+)/([a-z0-9_-]+)$ api.php?call_category=$1&call_request=$2

RewriteCond %{THE_REQUEST} \.php[\ /?].*HTTP/ [NC]
RewriteRule ^.*$ - [R=404,L]